.App {
  font-family: sans-serif;
  text-align: center;
}

.meme-container {
  width: 100%;
  margin: auto;
}

.meme-container img {
  width: 150px;
  height: auto;
  border: #000 1px solid;
  cursor: pointer;
}
